body
{
	background-image: url(../img/tweed.png);
	/* Background pattern from Subtle Patterns */
	margin: 0;
}

.container
{
	background-color: white;
	width: 900px;
	height: 500px;
	margin: auto;
}

.logo
{
	background-color: gray;
	width: 900px;
	height: 60px;
}

.menu
{
	background-color: black;
	width: 900px;
	height: 40px;
}
.nav
{
	background-color: coral;
	width: 250px;
	height: 300px;
	float: left;
}
.content
{
	background-color: skyblue;
	width: 450px;
	height: 300px;
	float: left;
}
.sidebar
{
	background-color: teal;
	width: 200px;
	height: 300px;
	float: left;
}
.footer
{
	background-color: RebeccaPurple;
	width: 900px;
	height: 100px;
	clear: both;
}