body
{

}

.container
{
	background-color: red;
	width: 1000px;
	height: 600px;
	margin: auto;
}

.raz
{
	background-color: green;
	width: 100%;
	height: 100px;
	float: left;
}

.dwa
{
	background-color: blue;
	width: 666px;
	height: 100px;
	float: left;
}
.trzy
{
	background-color: yellow;
	width: 333px;
	height: 100px;
	float: left;
}
.cztery
{
	background-color: skyblue;
	width: 666px;
	height: 200px;
	float: left;
}
.piec
{
	background-color: RebeccaPurple;
	width: 333px;
	height: 200px;
	float: left;
}
.szesc
{
	background-color: black;
	width: 50%;
	height: 100px;
	float: left;
}
.kasacja
{
	clear: both;
}