body
{
	margin:0;
}

.container
{
	background-color: white;
	width: 100%;
	height: auto;
}

.logo
{
	width: 100%;
	height: 252px;
	text-align: center;
	background-color: #888;
	margin:0;
	font-size: 24px;
}

.nav
{
	background-color: gray;
	width: 20%;
	height: 1000px;
	float: left;
}
.content
{
	background-color: yellow;
	width: 50%;
	height: 1000px;
	float: left;
}
.tabela
{
	background-color: skyblue;
	width: 30%;
	height: 1000px;
	float: left;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

table
{
	margin-top: 15px;
	border-spacing: 0;
	padding:0;
	border: 2px solid black;
	margin-left: auto;
	margin-right: auto;
}

.tabela td
{
	border: 1px solid black;
	margin: 0;
}
.tabela th
{
	border: 1px solid black;
	margin: 0;
}
.footer
{
	background-color: RebeccaPurple;
	width: 100%;
	height: 100px;
	text-align:center;
}
.kasacja
{
	clear: both;
}
#cytat
{
	padding: 10px;
	margin-top:0;
}