body
{
	margin: 0;
}

.baner
{
	margin: 0;
	height:60px;
	width:auto;
	text-align: right;
	background-color: #45517D;
	font-size:120%;
}
.baner h1
{
	margin: 0;
}
.lewy
{
	background-color:#61B2EC;
	width: 40%;
	height: 500px;
	float: left;
}
.lewy h2
{
	margin:0;
}
.prawy
{
	background-color:#8ec9f2;
	width: 60%;
	height: 500px;
	float: left;
}

.prawy p
{
	margin: 0;
}

.stopka
{
	background-color:#45517D;
	color: white;
	font-size: 150%;
}

.kasacja
{
	clear: both;
}
table
{
	width: 100%;
	text-align: center;
}

a:link
{
	color: orange;
}

a:visited
{
	color:green;
}