body {
  margin: 0;
  padding: 0px 60px;
  background-color: #29201b;
  color: #efefef;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
}

h1 {
  font-size: 42px;
  font-weight: 400;
  color: #fa7c00;
  margin-bottom: 20px;
  text-align: center;
}

.row {
  margin: 20px 10px;
}

.col {
  display: inline-block;
  margin: 0 10px;
}

#komentarz {
  resize: none;
}
